.notification-bar {
  background-color: #616161 !important;
  color: white !important;
  font-size: 14px;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  max-width: 400px; /* Adjust as needed */
}

.notification-bar:hover {
  background-color: #757575 !important;
}


.notification-bar .btn-close {
  filter: invert(1);
  opacity: 1;
}